<div class="container">
  <div class="jumbotron home-jumbotron">
    <h1>Project Manager</h1> 
    <h2>Welcome to Project Manager!</h2>
    <p><%=  link_to "Create", new_project_path%> a project and take control of your project management!</p> 
  </div>
</div>
