@import "bootstrap-sprockets";
@import "bootstrap";

/*
	Home Page
*/

.home-jumbotron {
	text-align: center;
}

/*
	Universal
*/

.submit-btn {
	margin-top: 10px;
}

.user-btn {
	margin-top: 10px;
}

